@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

body {
    background-color: #454D6B;
}

header {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;

}


section {
    background-color: #353B50;
    width: 300px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
    text-align: center;
    font-family: 'PT Sans Narrow';
    color: white;

}

footer {
    text-align: center;
    margin-top: 10px;
    font-family: 'PT Sans Narrow';
    color: white;
    

}

#botao1, #botao2, #botao3 {
    width: 130px;
    border-radius: 10px;
    border-style: hidden;
    background-color:#454D6B;

}

#result, #reseta {
    border-radius: 10px;
    padding: 5px;
    border-style: hidden;
    

    
}

#result:hover, #reseta:hover {

    transform: scale(1.04);

}

#reseta {
    background-color: #A13854;
}

